{% extends 'base.html.twig' %}

{% block title %}Hello APICallController!{% endblock %}

{% block body %}
    <form action="{{ path('call') }}" method="get">
        <label for="song"> type songname or artist</label>
        <input type="text" id="song" name="song">
    </form>
    <ul>
        {% for song in response %}
            <li>
                <a href="http://www.songsterr.com/a/wa/bestMatchForQueryString?s={{ song.title }}&a={{ song.artist.name }},
"> {{ song.artist.name }} - {{ song.title }}  </a></li>

        {% endfor %}
    </ul>
{% endblock %}
